<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Color tables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>colortables</h1>

<table>

    <tr>
        <th>Color</th>
        <th>Votes</th>
    </tr>
    <tr th:each="col : ${colors}">
        <td>
            <a href = "a3k.html" th:text="${col.color}" th:href="@{/upd(revColor=${col.color})}"></a>
        </td>
        <td th:text="">

        </td>
    </tr>
    <tr>
        <td th:text="Total" th:onclick="'javascript:totalClicked();'">Total</td>
        <!--<td><a th:href="">Total</a></td>-->
        <!--<a href="product/list.html" th:href="@{/product/list}">Product List</a>-->
    </tr>

</table>

<script>
    function totalClicked() {

    }


</script>

</body>
</html>