<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Color tables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jsutils.js}"></script>
</head>
<body>

<table>
    <tr>
        <th>Color</th>
        <th>Votes</th>
    </tr>
    <tr th:each="col : ${colors}">
        <td>
            <a href="a3k.html" th:text="${col.color}" th:href="@{/upd(revColor=${col.color})}"></a>
        </td>
        <td class="votesCell" th:text="1">
        </td>
    </tr>
    <tr>
        <td>
            <a onclick="totalClicked();"><u>TOTAL</u></a>
        </td>
        <td id="total-cell">0</td>
    </tr>
</table>
</body>
</html>